<%= form_for(@quote, url: (@quote.new_record? ? quotes_path : quote_path(id: @quote.id)), method: (@quote.new_record? ? :post : :patch)) do |f| %>
    <% disabled = !@quote.new_record? %>
    <h4>General Information</h4>
    <p class="p-b-10">
        Complete the details below to receive a quote from ATM Insurance.
    </p>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :insured_name %>
            <%= f.text_field :insured_name, class: 'form-control', placeholder: 'full name of the insured' %>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :effective_date %>
            <%= f.date_field(:effective_date, class: 'form-control', placeholder: 'Date the policy goes into effect', disabled: disabled) %>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :state, 'Physical State (State of Domicile)' %>
            <%= f.select :state_of_residence, GlobalConstants::US_STATES, {:include_blank => true}, { class: 'form-control' } %>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <% options_limits = ['500/1000/500','1000/1000/1000','1000/2000/1000','1000/2000/2000'] %>
            <%= f.label :limits, 'Limit Requested' %>
            <%= f.select :limits, options_limits, {:include_blank => true}, { class: 'form-control' } %>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <% options_sir = ['$2,500','$5,000','$7,500','$10,000'] %>
            <%= f.label :self_insured_retentions, 'Self Insured Retentions (SIR)' %>
            <br><p class="help-block">$2,500, $5,000, $7,500, or $10,000 per bi/pd per claim</p>
            <%= f.select :self_insured_retentions, options_sir, {:include_blank => true}, { class: 'form-control' } %>
            <br><p class="help-block">15,000 20,000 25,000 50,000 SIR available on underwriter approval. Contact program underwriter.</p>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :has_loss_runs, 'Loss runs available?', style: 'padding-right: 10px'  %>
            <%= f.check_box :has_loss_runs, class: 'checkbox' %>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :years_in_business %>
            <%= f.text_field :years_in_business, class: 'form-control', placeholder: 'Years in Business/Operation: (less than 3 years will require resume) (>3)' %>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :years_in_trade %>
            <%= f.text_field :years_in_trade, class: 'form-control', placeholder: 'Years in Trade/Experience' %>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :is_guardian_renewal, 'Is this a Guardian renewal?', style: 'padding-right: 10px' %>
            <%= f.check_box :is_guardian_renewal, class: 'checkbox' %>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :sub_out_percentage, 'Percentage Sub Out (%)' %>
            <%= f.text_field :sub_out_percentage, class: 'form-control' %>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :broker_fee %>
            <%= f.text_field :broker_fee, class: 'form-control' %>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :retail_producer_fee %>
            <%= f.text_field :retail_producer_fee, class: 'form-control' %>
        </div>
    </div>
    <br>
    <h4>Endorsements</h4>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :blanket_endorsements, 'Select your desired blanket endorsement package:' %>
            <%= f.select :blanket_endorsements, GlobalConstants::ATM_BLANKET_ENDORSEMENTS, {:include_blank => true}, { class: 'form-control' } %>
        </div>
    </div>
    <br>
    <p>Select any additional endorsements you require:</p>
        <div class="fg-line">
            <%= f.label :ai, 'Additional Insured - $0', style: 'padding-right: 10px' %>
            <%= f.check_box :ai, class: 'checkbox' %>
        </div>
        <div class="fg-line">
            <%= f.label :ai_completed_ops_commercial, 'Additional Insured Completed Ops Commercial Work Only - $100', style: 'padding-right: 10px' %>
            <%= f.check_box :ai_completed_ops_commercial, class: 'checkbox' %>
        </div>
        <div class="fg-line">
            <%= f.label :ai_permit_endorsement, 'Additional Insured Permit Endorsement - $0', style: 'padding-right: 10px' %>
            <%= f.check_box :ai_permit_endorsement, class: 'checkbox' %>
        </div>
        <div class="fg-line">
            <%= f.label :exclusion_work_for_association, 'Exclusion Work For Association Endorsement - %10', style: 'padding-right: 10px' %>
            <%= f.check_box :exclusion_work_for_association, class: 'checkbox' %>
        </div>
        <div class="fg-line">
            <%= f.label :other_entity_exclusion, 'Other Entity Exclusion Endorsement - $0', style: 'padding-right: 10px' %>
            <%= f.check_box :other_entity_exclusion, class: 'checkbox' %>
        </div>
        <div class="fg-line">
            <%= f.label :per_project_aggregate, 'Per Project Aggregate Endorsement (2 per term)-Commercial Work Only - %5', style: 'padding-right: 10px' %>
            <%= f.check_box :per_project_aggregate, class: 'checkbox' %>
        </div>
        <div class="fg-line">
            <%= f.label :plex_endorsement, 'Plex Endorsement - %10', style: 'padding-right: 10px' %>
            <%= f.check_box :plex_endorsement, class: 'checkbox' %>
        </div>
        <div class="fg-line">
            <%= f.label :primary_wording, 'Primary Wording Endorsement - $100', style: 'padding-right: 10px' %>
            <%= f.check_box :primary_wording, class: 'checkbox' %>
        </div>
        <div class="fg-line">
            <%= f.label :terrorism, 'Terrorism Endorsement - %10', style: 'padding-right: 10px' %>
            <%= f.check_box :terrorism, class: 'checkbox' %>
        </div>
        <div class="fg-line">
            <%= f.label :torch_down, 'Torch Down Endorsement - %10', style: 'padding-right: 10px' %>
            <%= f.check_box :torch_down, class: 'checkbox' %>
        </div>
        <div class="fg-line">
            <%= f.label :tract_homes, 'Tract Homes Limitation Endorsement - %10', style: 'padding-right: 10px' %>
            <%= f.check_box :tract_homes, class: 'checkbox' %>
        </div>
        <div class="fg-line">
            <%= f.label :waiver, 'Waiver of Subrogation - $100', style: 'padding-right: 10px' %>
            <%= f.check_box :waiver, class: 'checkbox' %>
        </div>
    <br>
    <br>
    <%= f.submit (@quote.new_record? ? "Create" : "Update") %>
<% end %>

