<div class="card">
  <div class="card-header m-b-20 bgm-cyan">
    <h2>Manage quotes <small>Quotes are estimates only and subject to change upon completion of the full application.</small></h2>
    <a href="<%= new_quote_path %>">
      <button class="btn bgm-indigo btn-float waves-effect"><i class="zmdi zmdi-plus"></i></button>
    </a>
  </div>
  <div id="data-table-basic-header" class="bootgrid-header container-fluid">
    <div class="row">
      <div class="col-sm-12 actionBar">
        <div class="search">
          <%= form_tag quotes_path, :method => 'get', class: 'input-group fg-line form-group' do |f| %>
            <span class="input-group-addon"><%= button_tag(type: 'submit', name: nil, class: "btn btn-info btn-icon waves-effect waves-circle waves-float glyphicon-search") do %><i class="icon-ok icon-white"></i><% end %></span>
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: 'Search Quotes' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive bgm-deeporange">
    <table id="quotes-grid" class="table table-hover">
      <thead>
          <tr>
            <th data-column-id="quoteId">Id</th>
            <th data-column-id="quoteName">Name</th>
            <th data-column-id="quotePremium">Premium</th>
            <th data-column-id="quoteTotalCost">Total Cost</th>
            <th data-column-id="quoteStatus">Status</th>
            <th> </th>
          </tr>
      </thead>
      <tbody>
        <% @quotes.each do |quote| %>
          <tr>
            <td class="f-500 c-cyan"><%= link_to "#{quote.id}", edit_quote_path(quote) %></td>
            <td><%= quote.insured_name %></td>
            <td><%= quote.premium %></td>
            <td><%= quote.total_policy_cost %></td>
            <td><%= quote.state %></td>
            <td><%= link_to 'Delete', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
      <div id="data-table-basic-footer" class="bootgrid-footer container-fluid">
      <div class="row">
        <div class="col-sm-6"><ul class="pagination"><li class="first disabled" aria-disabled="true"><a data-page="first" class="button"><i class="zmdi zmdi-more-horiz"></i></a></li><li class="prev disabled" aria-disabled="true"><a data-page="prev" class="button"><i class="zmdi zmdi-chevron-left"></i></a></li><li class="page-1 active" aria-disabled="false" aria-selected="true"><a data-page="1" class="button">1</a></li><li class="page-2" aria-disabled="false" aria-selected="false"><a data-page="2" class="button">2</a></li><li class="next" aria-disabled="false"><a data-page="next" class="button"><i class="zmdi zmdi-chevron-right"></i></a></li><li class="last" aria-disabled="false"><a data-page="last" class="button"><i class="zmdi zmdi-more-horiz"></i></a></li></ul>
        </div>
        <div class="col-sm-6 infoBar">
          <div class="infos">paging not yet implemented
          </div>
        </div>
      </div>
    </div>

</div>
