<%= form_for(@quote, url: (@quote.new_record? ? quotes_path : quote_path(id: @quote.id)), method: (@quote.new_record? ? :post : :patch)) do |f| %>
    <% disabled = !@quote.new_record? %>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :premium %>
            <%= f.text_field :premium, class: 'form-control', placeholder: 'full name of the insured' %>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :program_fee %>
            <%= f.text_field(:program_fee, class: 'form-control', placeholder: 'Date the policy goes into effect', disabled: disabled) %>
        </div>
    </div>
   <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :inspection_fee  %>
            <%= f.text_field :inspection_fee    , class: 'form-control', placeholder: 'full name of the insured' %>
        </div>
    </div>
    <div class="input-group m-b-10">
        <span class="input-group-addon"></span>
        <div class="fg-line">
            <%= f.label :surplus_lines_tax %>
            <%= f.text_field(:surplus_lines_tax, class: 'form-control', placeholder: 'Date the policy goes into effect', disabled: disabled) %>
        </div>
    </div>
    <br>
<% end %>

