<ol class="breadcrumb">
    <li><a href="<%= quotes_path %>">Quotes</a></li>
    <li class="active"><%= @quote.insured_name.titleize %></li>
</ol>

<section id="content" class="p-t-10">
    <div class="container">
        <div class="row">
            <!-- Sidebar Widget -->
            <div class="col-md-3">
                <%= render partial: 'summary' %>
            </div>

            <!-- Tabbed Content -->
            <div class="col-md-9">
                <div class="card">

                    <div class="card-body">
                        <ul id="rater-tabs" class="tab-nav tn-justified" role="tablist" data-tab-color="amber">
                            <li role="presentation" class="active">
                                <a class="col-sx-4" href="#tab-atm" aria-controls="tab-1" role="tab" data-toggle="tab">
                                    ATM Guardian GL Rater
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="col-sx-4" href="#tab-ucic" aria-controls="tab-2" role="tab" data-toggle="tab">
                                    UCIC GL Rater
                                </a>
                            </li>
                            <li role="presentation">
                                <a class="col-xs-4" href="#tab-pcic" aria-controls="tab-3" role="tab" data-toggle="tab">
                                    SIS PCIC GL Rater
                                </a>
                            </li>]
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane animated fadeIn in active p-r-20 p-l-20" id="tab-atm">
                                <%= render partial: 'form' %>
                            </div>
                            <div role="tabpanel" class="tab-pane animated fadeIn p-r-20 p-l-20" id="tab-ucic">
                                <h4>UCIC GL Rater</h4>
                                This feature is not yet implemented but should be available within the next 60 days.
                            </div>
                            <div role="tabpanel" class="tab-pane animated fadeIn p-r-20 p-l-20" id="tab-pcic">
                                <h4>PCIC SIS Rater</h4>
                                This feature is not yet implemented but should be available within the next 60 days.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<%= content_for :body_end  do %>
<script>
  $(function() {
      registerTabPanel('#rater-tabs');
  });
</script>
<% end %>
