<p id="notice"><%= notice %></p>

<h1>Listing Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Program</th>
      <th>Mga</th>
      <th>Mga contact</th>
      <th>Agency</th>
      <th>Agent</th>
      <th>Effective date</th>
      <th>Insured name</th>
      <th>State of residence</th>
      <th>Cc1</th>
      <th>Cc1 receipts</th>
      <th>Cc1 receipts</th>
      <th>Cc2</th>
      <th>Cc2 receipts</th>
      <th>Cc2 receipts</th>
      <th>Cc3</th>
      <th>Cc3 receipts</th>
      <th>Cc3 receipts</th>
      <th>Cc4</th>
      <th>Cc4 receipts</th>
      <th>Cc4 receipts</th>
      <th>Limits</th>
      <th>Self insured retentions</th>
      <th>Has loss runs</th>
      <th>Years in business</th>
      <th>Years in trade</th>
      <th>Is guardian renewal</th>
      <th>Sub out percentage</th>
      <th>Sub out percentage</th>
      <th>Broker fee</th>
      <th>Broker fee</th>
      <th>Retail producer fee</th>
      <th>Retail producer fee</th>
      <th>Blanket endorsements</th>
      <th>Ai</th>
      <th>Ai completed ops commercial</th>
      <th>Ai permit endorsement</th>
      <th>Exclusion work for association</th>
      <th>Other entity exclusion</th>
      <th>Per project aggregate</th>
      <th>Plex endorsement</th>
      <th>Primary wording</th>
      <th>Terrorism</th>
      <th>Torch down</th>
      <th>Tract homes</th>
      <th>Waiver</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.program %></td>
        <td><%= quote.mga %></td>
        <td><%= quote.mga_contact %></td>
        <td><%= quote.agency %></td>
        <td><%= quote.agent %></td>
        <td><%= quote.effective_date %></td>
        <td><%= quote.insured_name %></td>
        <td><%= quote.state_of_residence %></td>
        <td><%= quote.cc1 %></td>
        <td><%= quote.cc1_receipts %></td>
        <td><%= quote.cc1_receipts %></td>
        <td><%= quote.cc2 %></td>
        <td><%= quote.cc2_receipts %></td>
        <td><%= quote.cc2_receipts %></td>
        <td><%= quote.cc3 %></td>
        <td><%= quote.cc3_receipts %></td>
        <td><%= quote.cc3_receipts %></td>
        <td><%= quote.cc4 %></td>
        <td><%= quote.cc4_receipts %></td>
        <td><%= quote.cc4_receipts %></td>
        <td><%= quote.limits %></td>
        <td><%= quote.self_insured_retentions %></td>
        <td><%= quote.has_loss_runs %></td>
        <td><%= quote.years_in_business %></td>
        <td><%= quote.years_in_trade %></td>
        <td><%= quote.is_guardian_renewal %></td>
        <td><%= quote.sub_out_percentage %></td>
        <td><%= quote.sub_out_percentage %></td>
        <td><%= quote.broker_fee %></td>
        <td><%= quote.broker_fee %></td>
        <td><%= quote.retail_producer_fee %></td>
        <td><%= quote.retail_producer_fee %></td>
        <td><%= quote.blanket_endorsements %></td>
        <td><%= quote.ai %></td>
        <td><%= quote.ai_completed_ops_commercial %></td>
        <td><%= quote.ai_permit_endorsement %></td>
        <td><%= quote.exclusion_work_for_association %></td>
        <td><%= quote.other_entity_exclusion %></td>
        <td><%= quote.per_project_aggregate %></td>
        <td><%= quote.plex_endorsement %></td>
        <td><%= quote.primary_wording %></td>
        <td><%= quote.terrorism %></td>
        <td><%= quote.torch_down %></td>
        <td><%= quote.tract_homes %></td>
        <td><%= quote.waiver %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
