<p id="notice"><%= notice %></p>

<p>
  <strong>Program:</strong>
  <%= @quote.program %>
</p>

<p>
  <strong>Mga:</strong>
  <%= @quote.mga %>
</p>

<p>
  <strong>Mga contact:</strong>
  <%= @quote.mga_contact %>
</p>

<p>
  <strong>Agency:</strong>
  <%= @quote.agency %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @quote.agent %>
</p>

<p>
  <strong>Effective date:</strong>
  <%= @quote.effective_date %>
</p>

<p>
  <strong>Insured name:</strong>
  <%= @quote.insured_name %>
</p>

<p>
  <strong>State of residence:</strong>
  <%= @quote.state_of_residence %>
</p>

<p>
  <strong>Cc1:</strong>
  <%= @quote.cc1 %>
</p>

<p>
  <strong>Cc1 receipts:</strong>
  <%= @quote.cc1_receipts %>
</p>

<p>
  <strong>Cc1 receipts:</strong>
  <%= @quote.cc1_receipts %>
</p>

<p>
  <strong>Cc2:</strong>
  <%= @quote.cc2 %>
</p>

<p>
  <strong>Cc2 receipts:</strong>
  <%= @quote.cc2_receipts %>
</p>

<p>
  <strong>Cc2 receipts:</strong>
  <%= @quote.cc2_receipts %>
</p>

<p>
  <strong>Cc3:</strong>
  <%= @quote.cc3 %>
</p>

<p>
  <strong>Cc3 receipts:</strong>
  <%= @quote.cc3_receipts %>
</p>

<p>
  <strong>Cc3 receipts:</strong>
  <%= @quote.cc3_receipts %>
</p>

<p>
  <strong>Cc4:</strong>
  <%= @quote.cc4 %>
</p>

<p>
  <strong>Cc4 receipts:</strong>
  <%= @quote.cc4_receipts %>
</p>

<p>
  <strong>Cc4 receipts:</strong>
  <%= @quote.cc4_receipts %>
</p>

<p>
  <strong>Limits:</strong>
  <%= @quote.limits %>
</p>

<p>
  <strong>Self insured retentions:</strong>
  <%= @quote.self_insured_retentions %>
</p>

<p>
  <strong>Has loss runs:</strong>
  <%= @quote.has_loss_runs %>
</p>

<p>
  <strong>Years in business:</strong>
  <%= @quote.years_in_business %>
</p>

<p>
  <strong>Years in trade:</strong>
  <%= @quote.years_in_trade %>
</p>

<p>
  <strong>Is guardian renewal:</strong>
  <%= @quote.is_guardian_renewal %>
</p>

<p>
  <strong>Sub out percentage:</strong>
  <%= @quote.sub_out_percentage %>
</p>

<p>
  <strong>Sub out percentage:</strong>
  <%= @quote.sub_out_percentage %>
</p>

<p>
  <strong>Broker fee:</strong>
  <%= @quote.broker_fee %>
</p>

<p>
  <strong>Broker fee:</strong>
  <%= @quote.broker_fee %>
</p>

<p>
  <strong>Retail producer fee:</strong>
  <%= @quote.retail_producer_fee %>
</p>

<p>
  <strong>Retail producer fee:</strong>
  <%= @quote.retail_producer_fee %>
</p>

<p>
  <strong>Blanket endorsements:</strong>
  <%= @quote.blanket_endorsements %>
</p>

<p>
  <strong>Ai:</strong>
  <%= @quote.ai %>
</p>

<p>
  <strong>Ai completed ops commercial:</strong>
  <%= @quote.ai_completed_ops_commercial %>
</p>

<p>
  <strong>Ai permit endorsement:</strong>
  <%= @quote.ai_permit_endorsement %>
</p>

<p>
  <strong>Exclusion work for association:</strong>
  <%= @quote.exclusion_work_for_association %>
</p>

<p>
  <strong>Other entity exclusion:</strong>
  <%= @quote.other_entity_exclusion %>
</p>

<p>
  <strong>Per project aggregate:</strong>
  <%= @quote.per_project_aggregate %>
</p>

<p>
  <strong>Plex endorsement:</strong>
  <%= @quote.plex_endorsement %>
</p>

<p>
  <strong>Primary wording:</strong>
  <%= @quote.primary_wording %>
</p>

<p>
  <strong>Terrorism:</strong>
  <%= @quote.terrorism %>
</p>

<p>
  <strong>Torch down:</strong>
  <%= @quote.torch_down %>
</p>

<p>
  <strong>Tract homes:</strong>
  <%= @quote.tract_homes %>
</p>

<p>
  <strong>Waiver:</strong>
  <%= @quote.waiver %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
