<div class="card">
  <div class="card-header m-b-20 bgm-cyan">
    <h2>Manage Atlas Indications <small>Indications are estimates only and subject to change upon completion of the full application.</small></h2>
    <a href="<%= new_indication_path %>">
      <button class="btn bgm-indigo btn-float waves-effect"><i class="zmdi zmdi-plus"></i></button>
    </a>
  </div>
  <div id="data-table-basic-header" class="bootgrid-header container-fluid">
    <div class="row">
      <div class="col-sm-12 actionBar">
        <div class="search">
          <%= form_tag indications_path, :method => 'get', class: 'input-group fg-line form-group' do |f| %>
            <span class="input-group-addon"><%= button_tag(type: 'submit', name: nil, class: "zmdi icon input-group-addon glyphicon-search") do %><i class="icon-ok icon-white"></i><% end %></span>
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: 'Search Indications' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive bgm-deeporange">
    <table id="indications-grid" class="table table-hover">
      <thead>
          <tr>
            <th data-column-id="indicationName">Name</th>
            <th data-column-id="indicationState">State</th>
            <th data-column-id="indicationPremium">Agency</th>
            <th data-column-id="indicationTotalCost">Broker</th>
          </tr>
      </thead>
      <tbody>
        <% @indications.each do |indication| %>
          <tr>
            <td><%= indication[:insured][:name] %></td>
            <td><%= indication[:insured][:state] %></td>
            <td><%= indication[:retailAgency][:agencyID][:name] %></td>
            <td><%= indication[:retailAgency][:producerID][:name] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
      <div id="data-table-basic-footer" class="bootgrid-footer container-fluid">
      <div class="row">
        <div class="col-sm-6"><ul class="pagination"><li class="first disabled" aria-disabled="true"><a data-page="first" class="button"><i class="zmdi zmdi-more-horiz"></i></a></li><li class="prev disabled" aria-disabled="true"><a data-page="prev" class="button"><i class="zmdi zmdi-chevron-left"></i></a></li><li class="page-1 active" aria-disabled="false" aria-selected="true"><a data-page="1" class="button">1</a></li><li class="page-2" aria-disabled="false" aria-selected="false"><a data-page="2" class="button">2</a></li><li class="next" aria-disabled="false"><a data-page="next" class="button"><i class="zmdi zmdi-chevron-right"></i></a></li><li class="last" aria-disabled="false"><a data-page="last" class="button"><i class="zmdi zmdi-more-horiz"></i></a></li></ul>
        </div>
        <div class="col-sm-6 infoBar">
          <div class="infos">paging not yet implemented
          </div>
        </div>
      </div>
    </div>

</div>
