<p id="notice"><%= notice %></p>

<p>
  <strong>Underwriter:</strong>
  <%= @indication.underwriter_id %>
</p>

<p>
  <strong>State:</strong>
  <%= @indication.state %>
</p>

<p>
  <strong>Effective date:</strong>
  <%= @indication.effective_date %>
</p>

<p>
  <strong>Expire date:</strong>
  <%= @indication.expire_date %>
</p>

<p>
  <strong>Wholesale agency:</strong>
  <%= @indication.wholesale_agency_id %>
</p>

<p>
  <strong>Retail agency:</strong>
  <%= @indication.retail_agency_id %>
</p>

<p>
  <strong>Placement fee:</strong>
  <%= @indication.placement_fee %>
</p>

<p>
  <strong>Employee payroll:</strong>
  <%= @indication.employee_payroll %>
</p>

<p>
  <strong>Owner payroll:</strong>
  <%= @indication.owner_payroll %>
</p>

<p>
  <strong>Total payroll:</strong>
  <%= @indication.total_payroll %>
</p>

<p>
  <strong>Sub out commercial:</strong>
  <%= @indication.sub_out_commercial %>
</p>

<p>
  <strong>Sub out residential:</strong>
  <%= @indication.sub_out_residential %>
</p>

<p>
  <strong>Gross receipts current:</strong>
  <%= @indication.gross_receipts_current %>
</p>

<p>
  <strong>Description of operations:</strong>
  <%= @indication.description_of_operations %>
</p>

<p>
  <strong>Type of contractor:</strong>
  <%= @indication.type_of_contractor %>
</p>

<p>
  <strong>Type al requested:</strong>
  <%= @indication.type_al_requested %>
</p>

<p>
  <strong>Limits selected:</strong>
  <%= @indication.limits_selected %>
</p>

<p>
  <strong>Insured ops:</strong>
  <%= @indication.insured_ops %>
</p>

<p>
  <strong>Limits:</strong>
  <%= @indication.limits %>
</p>

<p>
  <strong>Rating factor:</strong>
  <%= @indication.rating_factor %>
</p>

<p>
  <strong>Dba:</strong>
  <%= @indication.dba %>
</p>

<p>
  <strong>Name:</strong>
  <%= @indication.name %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @indication.zip %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @indication.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @indication.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @indication.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @indication.email %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @indication.fax %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @indication.phone %>
</p>

<p>
  <strong>State code:</strong>
  <%= @indication.state_code %>
</p>

<p>
  <strong>Gf comments:</strong>
  <%= @indication.gf_comments %>
</p>

<p>
  <strong>Approval comments:</strong>
  <%= @indication.approval_comments %>
</p>

<p>
  <strong>Pdf natural url:</strong>
  <%= @indication.pdf_natural_url %>
</p>

<p>
  <strong>Pdf tracking url:</strong>
  <%= @indication.pdf_tracking_url %>
</p>

<p>
  <strong>Mgu:</strong>
  <%= @indication.mgu_id %>
</p>

<%= link_to 'Edit', edit_indication_path(@indication) %> |
<%= link_to 'Back', indications_path %>
