<body class="login-content">
    <div class="lc-block toggled" id="l-register">
        <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f| %>
          <small class="has-error help-block"> <%= devise_error_messages! %> </small>
          <div class="input-group m-b-20">
            <span class="input-group-addon"></span>
            <div class="fg-line">
              <%= f.label :email %>
              <%= f.email_field :email, required: true, class: 'form-control' %>
            </div>
          </div>
          <div class="input-group m-b-20">
            <span class="input-group-addon"></span>
            <div class="fg-line">
              <%= f.label :password %>
              <%= f.password_field(:password, required: true, class: 'form-control', placeholder: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)) %>
            </div>
          </div>
          <div class="input-group m-b-20">
            <span class="input-group-addon"></span>
            <div class="fg-line">
              <%= f.label :password_confirmation, 'Confirmation' %>
              <%= f.password_field :password_confirmation, required: true, class: 'form-control', placeholder: "enter password again to confirm" %>
            </div>
          </div>
          <div class="clearfix"></div>
          <%= f.submit 'Sign Up', :class => 'btn bgm-pink float-right' %>
          <div class="input-group m-b-20">
            <p class="help-inline p-t-20 text-muted">
              Already have an account?
              <%= link_to "Sign In", new_user_session_path %>
            </p>
          </div>
        <% end %>
    </div>
</body>


