<p id="notice"><%= notice %></p>

<h1>Listing Email Messages</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @email_messages.each do |email_message| %>
      <tr>
        <td><%= link_to 'Show', email_message %></td>
        <td><%= link_to 'Edit', edit_email_message_path(email_message) %></td>
        <td><%= link_to 'Destroy', email_message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Email message', new_email_message_path %>
