<div class="card">
    <div class="card-header m-b-20 bgm-bluegray">
        <h2>Manage Users <small>Users are individuals granted access to the system. The level of access for each user will be determined by the enabled roles.</small></h2>
        <a href="<%= new_user_path %>">
            <button class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i></button>
        </a>
    </div>
        <div class="table-responsive">
            <table id="users-grid" class="table table-hover">
                <thead>
                    <tr>
                      <th data-column-id="agencyName">Email</th>
                      <th data-column-id="agencyName">Name</th>
                      <th data-column-id="agencyName">Role</th>
                      <th data-column-id="agencyName">Agency</th>
                      <th data-column-id="agencyName">Phone</th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <td><%= user.email %></td>
                            <td><%= user.name %></td>
                            <td><%= user.role %></td>
                            <td><%= user.agency.name if user.agency %></td>
                            <td><%= user.phone_number %></td>
                            <td><%= link_to 'Show', user %></td>
                            <td><%= link_to 'Edit', edit_user_path(user) %></td>
                            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>

