<section id="content">
  <div class="container">
    <div class="card">
      <div class="container-fluid" style="margin-top: 20px">
        <div class="panel panel-default">
          <div class="panel-heading" style="background-color: #F44336;">
            <h3 class="panel-title"  style="color: #fff;">Users</h3>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table id="data-table-basic" class="table table-striped">
          <thead>
            <tr>
              <th data-column-id="agencyName">Email</th>
              <th data-column-id="agencyName">Name</th>
              <th data-column-id="agencyName">Role</th>
              <th data-column-id="agencyName">Agency</th>
              <th data-column-id="agencyName">Phone</th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.email %></td>
                <td><%= user.name %></td>
                <td><%= user.role %></td>
                <td><%= user.agency.name if user.agency %></td>
                <td><%= user.phone_number %></td>
                <td><%= link_to 'Show', user %></td>
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
      <br>
    </div>
  </div>
</section>

