<%= form_for(@user, url: (@user.new_record? ? users_path : user_path(id: @user.id)), method: (@user.new_record? ? :post : :patch)) do |f| %>

<p> </p>
<% @user.profiles.each_with_index do |p,i| %>
<% if (i > 1 and i < 8) and p.question.type_of == 'profile' %>
<div class="input-group m-b-20">
  <span class="input-group-addon"></span>
  <div class="fg-line">
    <span style="padding-right: 10px;">no</span>
    <div class="toggle-switch" data-ts-color="blue">
      <input id= <%= i %> type="checkbox" hidden="hidden">
      <label for=<%= i %> class="ts-helper"></label>
      <label for=<%= i %> class="ts-label" style="padding-left: 10px;">yes</label>
      <label for=<%= i %> class="ts-label" style="padding-left: 10px;"><%= p.question.name.humanize %></label>
    </div>

  </div>
</div>
<% end %>
<% end %>


<div class="form-actions">
  <%= f.button :submit, class: "btn bgm-tertiary" %>
</div>
<% end %>


<%= content_for :body_end  do %>
<script>
  $(function() {
    registerTabPanel('#profile-tabs');
  });
</script>
<% end %>


