<div class="pm-overview c-overflow" style="background: #0097A7">
  <div class="pmo-pic">
    <div class="p-relative">
      <img class='img-responsive' src='/assets/avatars/man1.png' alt="">
      <div class="dropdown pmop-message">
        <a data-toggle="dropdown" href="" class="btn bgm-white btn-float z-depth-1"><i class="zmdi zmdi-comment-text-alt"></i></a>
        <div class="dropdown-menu">
          <textarea placeholder="Write something..."></textarea>
          <button class="btn bgm-green btn-float"><i class="zmdi zmdi-mail-send"></i></button>
        </div>
      </div>
      <% if @user == User.current %>
        <a data-toggle="modal" href="#users-avatar-gallery" class="pmop-edit">
          <i class="zmdi zmdi-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
        </a>
      <% end %>
    </div>
    <div class="pmo-stat bgm-cyan">
      <h2 class="m-0 c-white"><%= 87 %></h2>
        Action Steps Completed
    </div>
  </div>
  <div class="pmo-block pmo-contact hidden-xs c-white">
    <h2 class="c-white">Contact</h2>
    <ul>
      <% if @user %>
        <li><i class="zmdi zmdi-face"></i>
          <%= @user.first_name %>
          <%= @user.last_name %>
        </li>
        <li><i class="zmdi zmdi-email"></i> <%= @user.email %></li>
      <% end %>
    </ul>
    <br>
    <br>
    <h2 class="c-white">Profile</h2>
     <ul>
      <% if @user %>
        <li><i class="zmdi zmdi-face"></i>
          Age
          <%= @user.birth_year %>
        </li>
        <li><i class="zmdi zmdi-face"></i>
          Sex
          <%= @user.sex %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

