<body class="login-content">
  <div class="lc-block toggled" id="l-login">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
      <h2>Forgot your password?</h2>
      <p>We'll send password reset instructions.</p>
      <div class="input-group m-b-20">
        <div class="form-group has-error">
            <div class="fg-line">
              <% resource.errors.full_messages.each do |e| %>
                <small class="has-error help-block"> <%= e %> </small>
              <% end %>
            </div>
        </div>
      </div>
      <div class="input-group m-b-20">
        <span class="input-group-addon"></span>
        <div class="fg-line">
          <%= f.label :email %>
          <%= f.email_field :email, required: true, class: 'form-control' %>
        </div>
      </div>


      <br>
      <div class="clearfix"></div>
      <div class="input-group p-b-20 p-t-10">
         <%= f.submit 'Reset Password', :class => 'btn bgm-red float-right' %>
      </div>
      <div class="input-group m-b-20">
        <p class="help-inline p-t-0 text-muted">
          Return to login page.
          <%= link_to "Sign In", new_user_session_path %>
        </p>
      </div>
    <% end %>
  </div>
</body>
