<div class="card">
  <div class="container-fluid">
    <div class="card-header m-b-20 bgm-primary">
      <h2>Manage Email Messages <small>Email Messages appear when thrivers answer yes to particular health profile questions.</small></h2>
      <a href="<%= new_email_message_path %>">
        <button class="btn bgm-secondary btn-float waves-effect"><i class="zmdi zmdi-plus"></i></button>
      </a>
    </div>
  </div>

  <div id="data-table-basic-header" class="bootgrid-header container-fluid">
    <div class="row">
      <div class="col-sm-12 actionBar">
        <div class="ha-search">
          <%= button_tag(type: 'submit', name: nil, class: "btn bgm-secondary btn-float waves-effect") do %><i class="zmdi zmdi-search"></i><% end %>
          <div class="fg-line m-l-30 m-r-20">
            <%= form_tag email_messages_path, :method => 'get', class: 'm-l-30 m-r-20' do |f| %>
            <%= text_field_tag :search, params[:search], class: "form-control", placeholder: 'search email_messages' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table id="email_messages-grid" class="table table-hover">
      <thead>
        <tr>
          <th data-column-id="email thriver"></th>
          <th data-column-id="new/read"></th>
          <th data-column-id="received">Received</th>
          <th data-column-id="subject">Subject</th>
          <th data-column-id="content">Message</th>
        </tr>
      </thead>
      <tbody>
        <% User.current.email_messages.sorted.each do |email_message| %>
        <% if email_message.read? %>
          <tr class="p-t-25"><span><td><div class="col-sm-4" data-name="circle" data-code="f26d"><p><i class="zmdi zmdi-circle-o"></i></p></div></td></span>
        <% else %>
          <tr class="c-black p-t-25"><span><td><div class="col-sm-4" data-name="circle" data-code="f26d"><p><i class="zmdi zmdi-dot-circle"></i></p></div></td></span>
            <% end %>

            <td class="f-500 c-cyan">
              <a class="email-button btn bgm-tertiary btn-icon waves-effect waves-circle waves-float" href="<%= new_email_message_path %>">
                <i class="zmdi zmdi-email"></i>
              </a>
            </td>
            <span class="col-sm-4" ><td><%= email_message.received %></td></span>
            <td><%= email_message.body %></td>
            <td><%= email_message.summary %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

