<%= form_for(@agency, url: (@agency.new_record? ? agencies_path : agency_path(id: @agency.id)), method: (@agency.new_record? ? :post : :patch)) do |f| %>
  <% disabled = !@agency.new_record? %>
  <h4>General Information</h4>
  <p>Complete the details below to setup your agency.</p>
  <div class="input-group m-b-10">
    <span class="input-group-addon"></span>
    <div class="fg-line">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', placeholder: 'name of the agency', required: true %>
    </div>
  </div>
  <div class="input-group m-b-10">
    <span class="input-group-addon"></span>
    <div class="fg-line">
      <%= f.label :dba %>
      <%= f.text_field :dba, class: 'form-control' %>
    </div>
  </div>
  <div class="input-group m-b-10">
  <span class="input-group-addon"></span>
      <div class="fg-line">
          <%= f.label :type_of, 'Type of Business' %>
          <%= f.select :type_of, GlobalConstants::AGENCY_TYPES, {:include_blank => true}, { class: 'form-control' } %>
      </div>
  </div>

  <br>
  <h4>Contact Information</h4>
  <p class="m-b-30">Enter address, phone, and email address</p>

  <div class="input-group m-b-10">
    <span class="input-group-addon"></span>
    <div class="fg-line">
      <%= f.label :address1 %>
      <%= f.text_field :address1, class: 'form-control' %>
    </div>
  </div>
  <div class="input-group m-b-10">
    <span class="input-group-addon"></span>
    <div class="fg-line">
      <%= f.label :address2 %>
      <%= f.text_field :address2, class: 'form-control' %>
    </div>
  </div>
  <div class="input-group m-b-10">
    <span class="input-group-addon"></span>
    <div class="fg-line">
      <%= f.label :zip %>
      <%= f.text_field :zip, class: 'form-control' %>
    </div>
  </div>
  <div class="input-group m-b-10">
    <span class="input-group-addon"></span>
    <div class="fg-line">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="input-group m-b-10">
    <span class="input-group-addon"></span>
    <div class="fg-line">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control' %>
    </div>
  </div>
  <div class="input-group m-b-10">
    <span class="input-group-addon"></span>
    <div class="fg-line">
      <%= f.label :fax %>
      <%= f.text_field :fax, class: 'form-control' %>
    </div>
  </div>

  <br>
  <br>
  <%= f.submit(("Submit"), :class => 'btn bgm-red float-right') %>
<% end %>

