<div class="card">
  <div class="card-header m-b-20 bgm-bluegray">
    <h2>Manage Agencies <small>Administrator access to edit agency details.</small></h2>
    <a href="<%= new_agency_path %>">
      <button class="btn bgm-red btn-float waves-effect"><i class="zmdi zmdi-plus"></i></button>
    </a>
  </div>
  <div class="table-responsive">
    <table id="Agencies-grid" class="table table-hover">
      <thead>
        <tr>
          <th data-column-id="agencyId">Id</th>
          <th data-column-id="agencyName">Name</th>
          <th data-column-id="agencyAddress">Address</th>
          <th data-column-id="agencyPhone">Phone</th>
          <th data-column-id="agencyEmail">Email</th>
        </tr>
      </thead>
      <tbody>
        <% @agencies.each do |agency| %>
          <tr>
            <td class="f-500 c-cyan"><%= link_to "#{agency.id}", edit_agency_path(agency) %></td>
            <td><%= agency.name %></td>
            <td><%= agency.address1 %></td>
            <td><%= agency.phone %></td>
            <td><%= agency.email %></td>
            <td><%= link_to 'Delete', agency, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

