<ol class="breadcrumb">
  <li><a href="<%= agencies_path %>">Users</a></li>
  <li class="active">Edit User</li>
</ol>
<section id="content">
  <div class="container">
    <div class="card" id="profile-main">
      <%= render partial: "agencies/summary", locals: { agency: @agency } %>

      <div class="pm-body clearfix">
        <ul id="agency-tabs" class="tab-nav tn-justified" role="tablist" data-tab-color="amber">
          <li role="presentation" class="active">
            <a class="col-sx-4" href="#tab-profile" aria-controls="tab-1" role="tab" data-toggle="tab">
              Profile
            </a>
          </li>
          <li role="presentation">
            <a class="col-sx-4" href="#tab-users" aria-controls="tab-1" role="tab" data-toggle="tab">
              Agents
            </a>
          </li>
        </ul>
        <div class="tab-content" style="min-height: 600px; padding-left: 20px;">
          <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab-profile"><%= render partial: "agencies/form", locals: { agency: @agency } %></div>
          <div role="tabpanel" class="tab-pane animated fadeIn" id="tab-users"><%= render partial: "users/grid", locals: { agency: @agency, users: @agency.users } %></div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= content_for :body_end  do %>
  <script>
    $(function() {
      registerTabPanel('#agency-tabs');
    });
  </script>
<% end %>
