<!--
<div class="authform">
<%= render 'form' %>

<%= link_to 'Show', @user_profile %> |
<%= link_to 'Back', user_profiles_path %>
</div>
-->
<div class="authform">
<h3>Edit User Profile</h3>
  <%= form_for(@user.user_profile, html: { method: :patch }) do |f| %>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>

    <fieldset>
      <p>Change your contact information here.</p>

      <div class="form-group">
        <%= f.label :address_1, "Address" %>
        <%= f.text_field :address_1, class: 'form_control' %>
        <%= f.text_field :address_2, class: 'form_control' %>
      </div>
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form_control' %>
      </div>
      <div class="form-group">
        <%= f.label :state %>
        <%= f.text_field :state, maxlength: 2, class: 'form_control' %>
        <%= f.label :postal_code, "Zip" %>
        <%= f.text_field :postal_code, maxlength: 9, class: 'form_control' %>
      </div>
      <div class="form-group">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :mobile_number %>
        <%= f.text_field :mobile_number, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :facebook_user %>
        <%= f.text_field :facebook_user, class: 'form-control' %>
      </div>
            <div class="form-group">
        <%= f.label :twitter_handle %>
        <%= f.text_field :twitter_handle, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset>
      <div class="form-group">
        <%= f.label :profile_picture %>
        <%= f.file_field :picture %>
      </div>
    </fieldset>
    <%= f.submit 'Update', :class => 'button right' %>
  <h3><%= link_to 'edit account', edit_user_registration_path %></h3>
  <% end %>
</div>

