<body class="login-content">
  <div class="lc-block toggled" id="l-login">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <h2>Sign In</h2>
      <div class="input-group m-b-20">
        <div class="form-group has-error">
          <div class="fg-line">
            <% flash.each do |name, msg| %>
               <small class="has-error help-block"> <%= msg if msg.is_a?(String)   %> </small>
            <% end %>
          </div>
        </div>
      </div>
      <div class="input-group m-b-20">
        <span class="input-group-addon"></span>
        <div class="fg-line">
          <%= f.label :email, class: 'pull-left' %>
          <%= f.email_field :email, required: true, class: 'form-control' %>
        </div>
      </div>

      <div class="input-group m-b-0">
        <span class="input-group-addon"></span>
        <div class="fg-line">
          <%- if devise_mapping.recoverable? %>
            <%= link_to "Forgot password?", new_password_path(resource_name), class: 'pull-right' %>
          <% end -%>
          <%= f.label :password, class: 'pull-left' %>
          <%= f.password_field :password, required: true, class: 'form-control' %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="input-group m-b-10 help-inline p-t-10 text-muted">
          <div class="checkbox" style="width:150px;margin-left: 0px;">
            <label>
                <input type="checkbox" value="">
                <i class="input-helper"></i>
                    Keep me signed in
            </label>
          </div>
        </div>
      <% end -%>
      <br>
      <div class="clearfix"></div>
      <div class="input-group p-b-20 p-t-10">
        <%= f.submit 'Sign In', :class => 'btn bgm-pink float-right' %>
      </div>

      <div class="input-group m-b-20">
        <p class="help-inline p-t-0 text-muted">
          Don't have an account?
          <%= link_to "Sign Up", new_user_registration_path %>
        </p>
      </div>

    <% end %>

  </div>
</body>


