<aside id="sidebar" class="sidebar c-overflow">
  <ul class="main-menu">
    <div class="profile-menu">
      <a href="">
        <div class="profile-pic"><img src='/assets/avatars/man1.png'</img></div>
        <div class="profile-info f-500" style="font-size:medium"><%= User.current.email %></div>
      </a>
    </div>
    <li><%= link_to("<i class='zmdi zmdi-view-dashboard'></i> Dashboard".html_safe, dashboard_path(User.current)) %></li>
    <li class="sub-menu" data-menu-id="my_settings">
      <a href=""><i class="zmdi zmdi-settings"></i>Settings</a>
      <ul>
          <li><%= link_to("<i class='zmdi zmdi-assignment-account'></i> Profile".html_safe, edit_user_path(User.current, anchor: "tab-profile")) %></li>
          <li><%= link_to("<i class='zmdi zmdi-power'></i> Sign Out".html_safe, destroy_user_session_path, :method=>'delete') %></li>
      </ul>
    </li>
    <% if user_signed_in? %>
      <li class="sub-menu" data-menu-id="Quotes">
        <a href=""><i class="zmdi zmdi-shopping-basket"></i>Administrative Resources</a>
        <ul>
          <li><%= link_to("SCP", new_user_path) %></li>
          <li><%= link_to("Upload Forms", users_path ) %></li>
          <li><%= link_to("Uploaded Forms", users_path) %></li>
        </ul>
      </li>
      <li><%= link_to("<i class='zmdi zmdi-view-dashboard'></i> Reports".html_safe, dashboard_path(User.current)) %></li>
    <% end %>
  </ul>
</aside>
