<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @policy.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @policy.state %>
</p>

<p>
  <strong>Number:</strong>
  <%= @policy.number %>
</p>

<p>
  <strong>Dba:</strong>
  <%= @policy.dba %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @policy.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @policy.email %>
</p>

<p>
  <strong>Wholesale:</strong>
  <%= @policy.wholesale_id %>
</p>

<p>
  <strong>Wholesale rep:</strong>
  <%= @policy.wholesale_rep_id %>
</p>

<p>
  <strong>Retail:</strong>
  <%= @policy.retail_id %>
</p>

<p>
  <strong>Retail rep:</strong>
  <%= @policy.retail_rep_id %>
</p>

<p>
  <strong>Uw:</strong>
  <%= @policy.uw_id %>
</p>

<p>
  <strong>Mgu:</strong>
  <%= @policy.mgu_id %>
</p>

<p>
  <strong>Program:</strong>
  <%= @policy.program_id %>
</p>

<%= link_to 'Edit', edit_policy_path(@policy) %> |
<%= link_to 'Back', policies_path %>
